:root{
	--bg-main:#131318;
	--bg-secondary:#0f0f11;
	--color-main:#ffffff;
	--color-secondary:#0066ff;
}

@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body{background:var(--bg-main);color:var(--color-main);margin:0;padding:0;font-family:'Roboto',sans-serif;}
a{text-decoration:none !important;}
::-webkit-scrollbar{display:none;}
#ic{float:left;}
#ic a{padding:13px 2px;}
#ic img{height:40px;}
/*Nav*/
nav {
	position: relative;
	width:100% !important;
	background:var(--bg-secondary);
	text-align:right;
	border-bottom: 1px solid rgba(0,0,0,.5);
}
nav ul{
	display:block;
	margin:0;
	padding:0 1vw;
	list-style:none;
}
nav ul li{
	list-style:none;
	display:inline-block;
	box-sizing:border-box;
}
nav ul li a{
	display: block;
	color:var(--color-main);
	margin-right:5px;
	font-weight:600;
	font-size:14px;
	text-transform: uppercase;
	padding:25px 15px;
}
nav ul li a:hover{
	color:var(--color-secondary);
}

@media only screen and (max-width: 750px){
	@keyframes slideInFromTop{0%{transform:translateY(-8%);opacity:0}100%{opacity:1;transform:translateY(0)}}

	nav ul{list-style:none;text-align:right;margin:0;padding:0 5vw;}
	nav ul li{display: none;}
	nav ul{text-align:left;}
	nav ul img{display:none}
	nav ul .mobile{display:inline-block !important;}
	nav ul li a{padding:15px 25px;}/*display:block;*/
	nav ul .discord{position:absolute;margin:15px 0 5px 25px;top:0px;right:25px;display:inline-block;}/*display:inline-block;*/
	#mt{padding:25px 25px;display: block;top: 10px;left: 10px;z-index: 1;-webkit-user-select: none;user-select: none;}
	#mt input{top:17px;left:20px;display: block !important;width: 45px;height: 32px;position: absolute;cursor: pointer;opacity:0;z-index:2;-webkit-touch-callout: none;}
	#mt span{display: block;width: 33px;height: 4px;margin-bottom: 5px;position: relative;background: #0090FF;border-radius: 3px;z-index: 1;transform-origin: 4px 0px;transition: transform 0.3s cubic-bezier(0.77,0.2,0.05,1.0),background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),opacity 0.55s ease;}
	#mt span:first-child{transform-origin: 0% 0%;}
	#mt span:nth-last-child(2){transform-origin: 0% 100%;}
	#mt input:checked ~ span{opacity: 1;transform: rotate(45deg) translate(-2px, -1px);}
	#mt input:checked ~ span:nth-last-child(3){opacity: 0;transform: rotate(0deg) scale(0.2, 0.2);}
	#mt input:checked ~ span:nth-last-child(2){transform: rotate(-45deg) translate(0, -1px);}
	#mt input:checked ~ ul .discord{display: block;animation: none;}
	#mt input:checked ~ ul li{display: block;animation:.5s ease-out 0s 1 slideInFromTop;}
}#mt input{display: none;}


/*
.center{}

table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
}
td {
    width: 50%;
    vertical-align: baseline;
}
td ul{list-style: none;}
.right {
	display: none;
}

.left{

}
.left ul{
	display: inline-block;
}
.left ul h3{
	font-size: 20px;
}
.left ul li a{
	font-size: 15px;
	padding: 5px 10px;
	margin-bottom:5px;
	border: 1px solid #fff;
	display: inline-block;
	color:var(--color-secondary);
	text-decoration:none;	
}*/

table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
}

td {
    width: 50%;
    vertical-align: baseline;
}

td.right {
    padding-right: 5px;
}

td.left {
    padding-left: 5px;
}

#right {
    width: 50%;
    border-left: 0;
}

#left {
    width: 50%;
    border-right: 0;
}

.center {
    text-align: center;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

td.right ul {
    direction: rtl;
}

.ctrls{
	width:600px;
	margin:0 auto;
}
.ctrls li{
	list-style: none;
}
.ctrls input{

}
.ctrls label{

}
button {
	border: none;
	outline:none;
	border-radius:4px;
	background:#0d0d0f;
	margin-top:6px;
	border: 1px solid rgba(0,0,0);
	color:#ffffff;
	padding:8px 10px;
	font-weight: bold;
}