body { color: white; background-color: black; margin: 0 !important; }
button { color: white; background-color: rgb(50, 50, 50); border-color: rgb(60, 60, 60); }
a { color: rgb(0, 0, 255); }
span.broken { color: red; }
span.fix { color: yellow; }
span.verify { color: orange; }
span.working { color: green; }
.removeInput { color: black; background-color: red; border: none; }
nav a { background-color: rgb(30, 30, 30); color: white; text-decoration: none; outline: none; padding: 10px 20px; display: block; float: left; border-right: solid 1px rgb(75, 75, 75); border-bottom-left-radius: 5px; border-bottom-right-radius: 5px; width: 16.666%; text-align: center; box-sizing: border-box; }
nav a:link, nav a:visited { background-color: rgb(30, 30, 30); color: white; }
nav a:hover, nav a:active { background-color: rgb(60, 60, 60); color: rgb(215, 215, 215); }