.valid {
  color: green;
}

.working {
  color: yellowgreen;
}

.fixing {
  color: orange;
}

.broken {
  color: red;
}

#ctrls, #input {
  text-align: center;
  margin: 0 auto;
  display: grid;
  width: 100vw;
  grid-template-columns: repeat(3, 1fr);
}

#ctrls div ul li {
  list-style: none;
}

#ctrls div ul li input {
  display: none;
}

#ctrls div ul li input:not(:checked)~label {
  color: red;
}

#ctrls div ul li input:checked~label {
  color: var(--color-tertiary);
}

#CPLinks {
  list-style: none;
  padding-inline-start: 0;
}

#CPLinks a {
  color: var(--color-tertiary);
}

@media only screen and (max-width: 500px) {
  #input {
    grid-template-columns: auto;
  }
}

@media only screen and (max-width: 900px) {
  #ctrls {
    grid-template-columns: auto;
  }

  input.inputBoxes {
    height: 30px;
    padding-bottom: 18px;
  }
}