#discord, #email, #youtube, #curseforge {
  height: 24px;
}

#github, #stack-overflow {
  height: 30px;
}

.pwamsg {
  display: none;
}

.uhd-icon, .hd-icon {
  display: none;
}

.top {
  margin-bottom: 0;
}

.middle {
  margin: 0 auto;
}

.bottom {
  margin-top: 0;
}

#main-grid {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
}

#secondary-grid {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(5, 1fr);
}

#secondary-grid div h3 {
  text-align: center;
}

#secondary-grid div ul li {
  text-align: center;
}

#main-top-grid {
  background-color: var(--bg-tertiary);
  padding-top: 15px;
  padding-bottom: 5px;
}

div ul {
  list-style: none;
}

div.right ul {
  padding-right: 40px;
}

.Stable {
  color: green;
}

.Developing {
  color: lightgreen;
}

.Fixing {
  color: yellow;
}

ul {
  padding-inline-start: 0;
}

@media only screen and (max-width: 400px) {
  #secondary-grid {
    grid-template-columns: auto;
  }

  #bobcatrobotics {
    order: 5;
  }
}

@media only screen and (max-width: 700px) and (min-width: 400px) {
  #secondary-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 700px) {
  .mobile-spare {
    display: none;
  }

  #main-grid {
    grid-template-columns: 1fr;
  }
}

@media only screen and (max-width: 1000px) {
  .desktop-grid-format {
    order: 200;
  }
}

@media only screen and (max-width: 1000px) and (min-width: 700px) {
  #secondary-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 2560px) {
  .hd-icon {
    display: inline;
  }

  .uhd-icon {
    display: none;
  }
}

@media only screen and (min-width: 2560px) {
  .hd-icon {
    display: none;
  }

  .uhd-icon {
    height: 315px;
    display: inline;
  }
}