:root {
    --bg-main: #112;
    --bg-main-2: #002;
    --bg-secondary: #0f0f11;
    --bg-tertiary: #0d1e4d;
    --color-main: #eee;
    --color-main-2: #1482ff;
    --color-secondary: #09f;
    --color-tertiary: #0df;
}

body {
    background-color: var(--bg-main);
    background-image: url("./main-background.svg");
    background-attachment: fixed;
    background-size: cover;
    color: var(--color-main);
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

a, a:link, a:visited, a:hover, a:active, a:visited {
    text-decoration: none !important;
    color: var(--color-secondary);
}

.center {
    text-align: center;
}

::-webkit-scrollbar {
    display: none;
}

nav {
    position: relative;
    width: 100%;
    background: var(--bg-secondary);
    text-align: right;
    border-bottom: 1px solid rgba(0, 0, 0, .5);
}

#ic {
    float: left;
}

#ic a {
    padding: 13px 2px;
}

#ic img {
    height: 40px;
}

#mobile-home {
    display: none;
}

nav ul {
    display: block;
    margin: 0;
    padding: 0 1vw;
    list-style: none;
}

nav ul li {
    list-style: none;
    display: inline-block;
    box-sizing: border-box;
}

nav ul li a, nav ul li label {
    display: block;
    color: var(--color-secondary);
    margin-right: 5px;
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    padding: 25px 15px;
}

nav ul li a:hover, nav ul li label:hover {
    color: var(--color-tertiary);
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background: var(--bg-secondary);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

#mt input {
    display: none;
}

.linklist li {
    list-style: none;
    padding-bottom: 5px;
}

button {
    outline: none;
    border-radius: 4px;
    background: #0d0d0f;
    margin-top: 6px;
    border: 1px solid rgba(0, 0, 0);
    color: var(--color-tertiary);
    padding: 8px 10px;
    font-weight: bold;
}

@keyframes slideInFromTop {
    from {
        transform: translate(-5%, -20%);
        opacity: 0;
    }
    to {
        opacity: 1;
        transform: translate(0, 0);
    }
}

@media only screen and (max-width: 400px) {
    .linklist li {
        font-size: 5vw;
    }
}

@media only screen and (max-width: 600px) and (min-width: 400px) {
    .linklist li {
        font-size: 4vw;
    }
}

@media only screen and (max-width: 700px) and (min-width: 600px) {
    .linklist li {
        font-size: 3vw;
    }
}

@media only screen and (max-width: 900px) and (min-width: 700px) {
    .linklist li {
        font-size: 2vw;
    }
}

@media only screen and (max-width: 900px) {
    .linklist li {
        padding-bottom: 15px;
    }
    .dropdown {
        display: none;
    }
    .dropdown:hover .dropdown-content {
        display: initial;
    }
    .dropdown-content {
        position: static;
    }
    .dropdown input:not(:checked)~.dropdown-content {
        display: none;
    }
    .dropdown input:checked~.dropdown-content {
        display: block;
    }
    .dropdown ul li {
        display: block;
        position: static;
    }
    nav ul {
        margin: 0;
        padding: 0 15px;
        text-align: left;
    }
    nav ul li {
        display: none;
    }
    nav ul img {
        display: none;
    }
    nav ul li a, nav ul li label {
        padding: 15px 25px;
        font-size: 1.5em;
    }
    #mt {
        padding: 25px 25px;
        display: block;
        top: 10px;
        left: 10px;
        z-index: 1;
        -webkit-user-select: none;
        user-select: none;
    }
    #mt input {
        top: 17px;
        left: 20px;
        display: block !important;
        width: 45px;
        height: 32px;
        position: absolute;
        cursor: pointer;
        opacity: 0;
        z-index: 2;
        -webkit-touch-callout: none;
    }
    #mt span.navdecor {
        display: block;
        width: 33px;
        height: 4px;
        margin-bottom: 5px;
        position: relative;
        background: #0090FF;
        border-radius: 3px;
        z-index: 1;
        transform-origin: 4px 0px;
        transition: transform 0.3s cubic-bezier(0.77, 0.2, 0.05, 1.0), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), opacity 0.55s ease;
    }
    #mt span:first-child {
        transform-origin: 0% 0%;
    }
    #mt span:nth-last-child(2) {
        transform-origin: 0% 100%;
    }
    #mt input:checked~span {
        opacity: 1;
        transform: rotate(45deg) translate(-2px, -1px);
    }
    #mt input:checked~span:nth-last-child(3) {
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2);
    }
    #mt input:checked~span:nth-last-child(2) {
        transform: rotate(-45deg) translate(0, -1px);
    }
    #mt input:checked~ul {
        height: 95vh;
    }
    #mt input:checked~ul li {
        display: block;
        animation: .5s ease-out 0s 1 slideInFromTop;
    }
    #mt input:checked~nav ul {
        margin: 0;
        padding: 0 5vw;
    }
}

@media only screen and (min-width: 2560px) {
    * {
        font-size: 110%;
    }
    h1 {
        font-size: 2.1em;
    }
    h3 {
        font-size: 1.25em;
    }
    nav ul li a, nav ul li label {
        font-size: 100%;
    }
    li#ic a img {
        height: 60px;
    }
}