{% load static %}
{% load pwa %}

<!DOCTYPE html>
<html lang="en-US">
<head>
    <title>{{ title }}</title>
    <link rel="preload" href="{% static 'css/main.css' %}" as="style">
    {% if page_css %}<link rel="preload" href="{% static page_css %}" as="style">{% endif %}
    {% if discord %}<link rel="preload" href="https://cdn.jsdelivr.net/npm/@widgetbot/crate@3" as="script">{% endif %}

    {% block head %}{% endblock head %}

    <meta name="author" content="Eric (Virx/VirxEC) Michael Veilleux: virx@virxcase.dev">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <meta name="twitter:site" content="@virxcase">
    <meta name="twitter:card" content="summery-large-card">
    <meta name="twitter:title" content="{{ title }}">

    <meta name="og:image" content="{% static 'icons/512_circle.png' %}">
    <meta name="og:site_name" content="VirxEC's Showcase Website">
    <meta name="og:type" content="object">
    <meta name="og:title" content="{{ title }}">
    <meta name="og:url" content="https://www.virxcase.dev">

    <meta name="description" content="Showcasing CalcPlus, VirxEB, VirxERLU, and Minecraft Projects Vanilla SkyBlock and Transparent GUI">
    <meta name="og:description" content="Showcasing CalcPlus, VirxEB, VirxERLU, and Minecraft Projects Vanilla SkyBlock and Transparent GUI">
    <meta name="twitter:description" content="Showcasing CalcPlus, VirxEB, VirxERLU, and Minecraft Projects Vanilla SkyBlock and Transparent GUI">

    <script data-ad-client="ca-pub-9063288785609075" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script async src="https://cse.google.com/cse.js?cx=446ec072dc203167d"></script>

    {% progressive_web_app_meta %}
</head>
<body>
    <section id='search-overlay' aria-hidden="true">
        <div class="gcse-search"></div>
        <div id="other-overlay" onclick='searchOverlay(false)'></div>
    </section>

    <script>
        const overlay = document.querySelector('#search-overlay');

        function searchOverlay(show) {
            overlay.setAttribute('aria-hidden', !show);
            document.body.classList.toggle('noscroll', show);
            overlay.scrollTop = 0;
        }

        addEventListener('load', ()=>document.querySelector("#gs_cb50").addEventListener("click", ()=>searchOverlay(false)))
    </script>

    <nav>
        <div id="mt">
            <input type="checkbox">
            <span class="navdecor"></span>
            <span class="navdecor"></span>
            <span class="navdecor"></span>
            <ul>
                <li id="ic"><a href="{% url 'main_home' %}"><img src="{% static 'icons/096_circle.png' %}" alt="Site logo"></a></li>
                <li id="mobile-home"><a href="{% url 'main_home' %}">Home</a></li>
                <li class="dropdown">
                    <input type="checkbox" id="virxeb">
                    <label for="virxeb">VirxEB</label>
                    <ul class="dropdown-content">
                        <li><a href="{% url 'virxeb' %}">Source</a></li>
                        <li><a href="https://virxeb.virxcase.dev/">About</a></li>
                        <li><a href="https://github.com/VirxEC/VirxEB" target="_blank">GitHub</a></li>
                    </ul>
                </li>
                <li class='dropdown'>
                    <input type="checkbox" id="virxerlu">
                    <label for="virxerlu">VirxERLU</label>
                    <ul class="dropdown-content">
                        <li><a href="{% url 'virxerlu' %}">Source</a></li>
                        <li><a href="https://virxerlu.virxcase.dev/">About</a></li>
                        <li><a href="https://github.com/VirxEC/VirxERLU/wiki">Wiki</a></li>
                        <li><a href="https://github.com/VirxEC/VirxERLU" target="_blank">GitHub</a></li>
                        <li><a href="https://www.youtube.com/playlist?list=PLeo0zkmzSE-UUFV-bd2vWtqiqe2cjaQNf">Tutorials</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <input type="checkbox" id="calcplus">
                    <label for="calcplus">CalcPlus</label>
                    <ul class="dropdown-content">
                        <li><a href="{% url 'calcplus_preview' %}">Preview</a></li>
                        <li><a href="{% url 'calcplus_source' %}">Source</a></li>
                        <li><a href="https://calcplus.virxcase.dev/">About</a></li>
                        <li><a href="https://github.com/VirxEC/CalcPlus" target="_blank">GitHub</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <input type="checkbox" id="curseforge">
                    <label for="curseforge">CurseForge</label>
                    <ul class="dropdown-content">
                        <li><a href="{% url 'minecraft_curseforge' %}">About</a></li>
                        <li><a href="https://www.curseforge.com/minecraft/worlds/vanilla-skyblock" target="_blank">Vanilla Skyblock</a></li>
                        <li><a href="https://www.curseforge.com/minecraft/texture-packs/transparent-gui-ultimate" target="_blank">Transparent GUI</a></li>
                    </ul>
                </li>
                <li><a href="{% url 'options' %}">Options</a></li>
                <li><a href="javascript:searchOverlay(true)"><svg width="15.5px" height="15.5px" viewBox="0 0 13 13"><title>search</title><path d="m4.8495 7.8226c0.82666 0 1.5262-0.29146 2.0985-0.87438 0.57232-0.58292 0.86378-1.2877 0.87438-2.1144 0.010599-0.82666-0.28086-1.5262-0.87438-2.0985-0.59352-0.57232-1.293-0.86378-2.0985-0.87438-0.8055-0.010599-1.5103 0.28086-2.1144 0.87438-0.60414 0.59352-0.8956 1.293-0.87438 2.0985 0.021197 0.8055 0.31266 1.5103 0.87438 2.1144 0.56172 0.60414 1.2665 0.8956 2.1144 0.87438zm4.4695 0.2115 3.681 3.6819-1.259 1.284-3.6817-3.7 0.0019784-0.69479-0.090043-0.098846c-0.87973 0.76087-1.92 1.1413-3.1207 1.1413-1.3553 0-2.5025-0.46363-3.4417-1.3909s-1.4088-2.0686-1.4088-3.4239c0-1.3553 0.4696-2.4966 1.4088-3.4239 0.9392-0.92727 2.0864-1.3969 3.4417-1.4088 1.3553-0.011889 2.4906 0.45771 3.406 1.4088 0.9154 0.95107 1.379 2.0924 1.3909 3.4239 0 1.2126-0.38043 2.2588-1.1413 3.1385l0.098834 0.090049z"></path></svg></a></li>
            </ul>
        </div>
    </nav>

    {% block body %}{% endblock body %}
    
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    {% if page_css %}<link rel="stylesheet" href="{% static page_css %}">{% endif %}
    {% block post_styles %}{% endblock post_styles %}
    {% if discord %}
        <script src="https://cdn.jsdelivr.net/npm/@widgetbot/crate@3"></script>
        <script>
            var discord = new Crate({
                server: '507708985206505482',
                channel: "{{ channel }}",
                shard: "https://e.widgetbot.io",
                defer: true
            });

            {% if gamer %}setInterval(async () => discord ? discord.options.color = "#000000".replace(/0/g, () => (~~(Math.random() * 16)).toString(16)) : null, {{ interval }});{% endif %}
        </script>
    {% endif %}
</body>
