{% extends 'base.htm' %}

{% block body %}
    <div id="myModal" class="modal">
        <span class="close">&times;</span>
        <img class="modal-content" id="img01">
        <div id="caption"></div>
    </div>

    <div id="main-grid">
        <div>
            <h2>What's Vanilla SkyBlock?</h2>
            <p>
                The full name for Vanilla SkyBlock is actually<br>"Minecraft's first Vanilla Economy SkyBlock for Singleplayer and Multiplayer."<br> This, of course, is WAY too much, so I opted for the more click-bait title "Vanilla SkyBlock".<br>At the current time of writing, Vanilla SkyBlock has over 25,000 downloads!
            </p>
            <p>
                <i>But wait!</i> Why does it have "Vanilla" in the name if there's a datapack?<br>The datapack is a Quality of Life feature, first and foremost.<br>It helps respawn traders if they die, but also helps guide the player via<br>the custom advancement tree.
            </p>
            <p>
                This is Vanilla SkyBlock's starter island:<br>
                <img src='https://media.forgecdn.net/attachments/295/850/2020-06-04_15.png' alt="Vanilla SkyBlock Starter Island" class="big-image"><br>
                Do you want to try out Vanilla SkyBlock? <a href='https://www.curseforge.com/minecraft/worlds/vanilla-skyblock' target="_blank">Get it from CurseForge</a>!
            </p>

            <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- Generic ads -->
            <ins class="adsbygoogle"
                style="display:block"
                data-ad-client="ca-pub-9063288785609075"
                data-ad-slot="7974382344"
                data-ad-format="auto"
                data-full-width-responsive="true"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>

            <p>
                I orginally created Vanilla SkyBlock because I LOVED Economy SkyBlock,<br>but all the servers I played on used a dollar sign followed by an arbirary number, and they were all pay-to-win.
            </p>
            <p>
                I wanted something different, and at the time I had been following the popular Youtube series called Hermitcraft.<br>However, there, you could easily get thousands of emeralds, making it bad to use as a currency,<br>and diamonds were still easy to come by.
            </p>
            <p>
                Minecraft, as a game, intends for emeralds to be used as a currency.<br>Due to the nature of SkyBlock, I can easily limit the income of the player(s).<br>This means that Vanilla SkyBlock's economy is very balanced, and provides a refeshing change<br>for experienced Minecraft veterians who want to challenge their knowledge of the game.<br>It also suits anyone who's tired of the classical SkyBlock,<br>which was last updated for Minecraft 1.4.7.
            </p>
        </div>
        <div id="about">
            <h2>What's CurseForge?</h2>
            <p>
                <a href="https://www.curseforge.com/" target="_blank">CurseForge</a> is owned by Twitch (and Twitch is owned by Amazon).
            </p>
            <p> 
                On CurseForge, authors can upload mods for a variety of games,<br>where other users can discover them!
            </p>
            <img src='https://www.curseforge.com/Content/2-0-7494-36325/Skins/CurseForge/images/anvil.svg' alt='CurseForge logo' height='100px'>
            <p>
                Currently, on <a href="https://www.curseforge.com/minecraft/modpacks" target="_blank">the Minecraft section of CurseForge</a>, they support:
                <ul class='linklist'>
                    <li><a href="https://www.curseforge.com/minecraft/bukkit-plugins" target="_blank">Bukkit Pluggins</a></li>
                    <li><a href="https://www.curseforge.com/minecraft/modpacks" target="_blank">Java Modpacks</a></li>
                    <li><a href="https://www.curseforge.com/minecraft/customization" target="_blank">Java Customizations</a></li>
                    <li><a href="https://www.curseforge.com/minecraft/mc-addons" target="_blank">Bedrock Addons</a></li>
                    <li><a href="https://www.curseforge.com/minecraft/mc-mods" target="_blank">Java Mods</a></li>
                    <li><a href="https://www.curseforge.com/minecraft/texture-packs" target="_blank">Java Resource Packs</a></li>
                    <li><a href="https://www.curseforge.com/minecraft/worlds" target="_blank">Java Worlds</a></li>
                </ul>
                That's a lot of content! Vanilla SkyBlock is under Java Worlds,<br>and Transparent GUI is under Java Resource Packs.
            </p>
        </div>
        <div>
            <h2>What's Transparent GUI?</h2>
            <p>
                There's actually 2 versions of Transparent GUI: The normal version and the Ultimate version.<br>I created this pack for myself and all the other PVP gods out there,<br>and so far over 30,000 people have downloaded this pack.
            </p>
            <p>
                Survival inventory:<br>
                <img src='https://media.forgecdn.net/attachments/254/924/2019-06-20_09.png' alt="Transparent GUI Survival Inventory" class="big-image"><br>
                Do you want to try out Transparent GUI? <a href="https://www.curseforge.com/minecraft/texture-packs/transparent-gui-ultimate" target="_blank">Get it from CurseForge</a>!
            </p>

            <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- Generic ads -->
            <ins class="adsbygoogle"
                style="display:block"
                data-ad-client="ca-pub-9063288785609075"
                data-ad-slot="7974382344"
                data-ad-format="auto"
                data-full-width-responsive="true"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>

            <p>
                The normal version is, well, normal!<br>It supports every version of the game from 1.8.8 to the latest non-snapshot release.
            </p>
            <p>
                The Ultimate version supports 14 mods, and versions from 1.12 to 1.14. (1.15 & 1.16 coming soon.)
            </p>
            <p>
                Potion Effects:<br>
                <img src='https://media.forgecdn.net/attachments/254/930/2019-06-20_09.png' alt="Transparent GUI Survival Potion Effects" class="big-image">
            </p>
        </div>
    </div>

    <script>
        const modal = document.getElementById("myModal");
        const imgs = document.querySelectorAll(".big-image");
        const modalImg = document.getElementById("img01");
        const captionText = document.getElementById("caption");

        for (let i = 0; i < imgs.length; i++) {
            imgs[i].onclick = function() {
                modal.style.display = "block";
                modalImg.src = this.src;
                captionText.innerHTML = this.alt;
            }
        }

        const span = document.getElementsByClassName("close")[0];
        span.onclick = () => {
            modal.style.display = "none";
        }
    </script>
{% endblock body %}
