{% extends 'base.htm' %}
{% load static %}

{% block head %}
    <link rel="preload" href="{% static 'css/prism.min.css' %}" as="style">
    <link rel="preload" href="{% static 'js/Prism.js' %}" as="script">
    <link rel="preload" href="{% static 'js/CPquery.js' %}" as="script">
{% endblock head %}

{% block body %}
    <h1>{{ title }}</h1>
    <ul id="CPLinks" class="linklist">
        <li><a href="https://www.rlbot.org/">RLBot Website</a></li>
        <li><a href="https://github.com/RLBot/RLBot">RLBot Github</a></li>
        <li><a href="https://discord.gg/zygARXx">RLBot Discord</a></li>
    </ul>

    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- Generic ads -->
    <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-9063288785609075"
        data-ad-slot="7974382344"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
    
    <div class="tabset">
        <input type="radio" name="tabset" id="tab1" checked>
        <label for="tab1">Strategy</label>

        <input type="radio" name="tabset" id="tab2">
        <label for="tab2">Routines</label>

        <input type="radio" name="tabset" id="tab3">
        <label for="tab3">Agent</label>

        <input type="radio" name="tabset" id="tab4">
        <label for="tab4">Utils</label>

        <input type="radio" name="tabset" id="tab5">
        <label for="tab5">Tools</label>

        <div class="tab-panels">
            <pre class="tab-panel"><code id="virxebsrc">Loading...</code></pre>
            <pre class="tab-panel"><code id="routines">Loading...</code></pre>
            <pre class="tab-panel"><code id="objects">Loading...</code></pre>
            <pre class="tab-panel"><code id="tools">Loading...</code></pre>
            <pre class="tab-panel"><code id="utils">Loading...</code></pre>
        </div>
    </div>

    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- Generic ads -->
    <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-9063288785609075"
        data-ad-slot="7974382344"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>

    <script src="{% static 'js/CPquery.js' %}"></script>

    <link rel="stylesheet" href="{% static 'css/prism.min.css' %}">

    <script src="{% static 'js/Prism.js' %}"></script>
    <script>
        $("^https://virxerlu.virxcase.dev/main.py").file(function() {
            $("#virxebsrc").htm(Prism.highlight(this.responseText, Prism.languages.py, "python"));
        });

        $("^https://virxerlu.virxcase.dev/util/routines.py").file(function() {
            $("#routines").htm(Prism.highlight(this.responseText, Prism.languages.py, "python"));
        });

        $("^https://virxerlu.virxcase.dev/util/agent.py").file(function() {
            $("#objects").htm(Prism.highlight(this.responseText, Prism.languages.py, "python"));
        });

        $("^https://virxeb.virxcase.dev/util/tools.py").file(function() {
            $("#tools").htm(Prism.highlight(this.responseText, Prism.languages.py, "python"));
        });

        $("^https://virxeb.virxcase.dev/util/utils.py").file(function() {
            $("#utils").htm(Prism.highlight(this.responseText, Prism.languages.py, "python"));
        });
    </script>
{% endblock %}