{% extends 'base.htm' %}
{% load static %}

{% block body %}
    <div id="main-top-grid" class="center">
        <div id="main-grid">
            <div>
                <img class="hd-icon site-icon" data-src="{% static 'icons/192_transparent.png' %}" alt="Site logo">
                <img class="uhd-icon site-icon" data-src="{% static 'icons/512_transparent.png' %}" alt="Site logo">
            </div>
            <div>
                <h1 class="top">VirxEC's Showcase Website</h1>
                <p class="middle">
                    <a href="https://discord.gg/N3ppwGu" target="_blank"><img id='discord' src="{% static 'icons/discord.png' %}" alt="Discord"></a>
                    &nbsp;
                    <a href="mailto:virx@virxcase.dev" target="_blank"><img id='email' src="{% static 'icons/gmail.png' %}" alt="Email"></a>
                    &nbsp;
                    <a href="https://github.com/VirxEC" target="_blank"><img id='github' src="{% static 'icons/github.png' %}" height="30px" alt="GitHub"></a>
                    &nbsp;
                    <a href="https://stackoverflow.com/users/10930209/virxec" target="_blank"><img id='stack-overflow' src="{% static 'icons/stackoverflow.png' %}" height="30px" alt="Stack Overflow"></a>
                    &nbsp;
                    <a href="https://www.youtube.com/channel/UCbXnfz22hD8y26UG454c5PA" target="_blank"><img id='youtube' src="{% static 'icons/youtube.png' %}" alt="YouTube"></a>
                    &nbsp;
                    <a href="https://www.curseforge.com/members/virxec/followers" target="_blank"><img id='curseforge' src="{% static 'icons/anvil.svg' %}" alt="CurseForge"></a>
                </p>
                <div id="pwamsg" class="pwamsg">
                    <h3 class="top">Get VirxEC's Showcase Website's <a href="https://blog.bitsrc.io/what-is-a-pwa-and-why-should-you-care-388afb6c0bad"><abbr title="Progressive Web App">PWA</abbr></a>!</h3>
                    <button class="bottom" id="pwainstall">Add shortcut</button></li>
                </div>
                <div id="pwamsg-mobile" class="pwamsg">
                    <h3 class="top">Get Virxcase's <a href="https://blog.bitsrc.io/what-is-a-pwa-and-why-should-you-care-388afb6c0bad"><abbr title="Progressive Web App">PWA</abbr></a>!</h3>
                    <button class="bottom" id="pwainstall">Add shortcut to home</button></li>
                </div>
            </div>
            <div class="mobile-spare">
                <img class="hd-icon site-icon" data-src="{% static 'icons/site_icon.png' %}" alt="Site logo">
                <img class="uhd-icon site-icon" data-src="{% static 'icons/site_icon_hd.png' %}" alt="Site logo">
            </div>
        </div>
    </div>

    
    <div id="secondary-grid">
        <div>
            <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- Generic ads -->
            <ins class="adsbygoogle"
                style="display:block"
                data-ad-client="ca-pub-9063288785609075"
                data-ad-slot="7974382344"
                data-ad-format="auto"
                data-full-width-responsive="true"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>
        <div>
            <h3>VirxEC's Showcase Website Project Links</h3>
            <ul class="linklist">
                <li><a href="http://www.apache.org/licenses/LICENSE-2.0" target="_blank">Website License</a></li>
                <li><a href="https://github.com/VirxEC/virxec.github.io/tree/django" target="_blank">GitHub</a></li>
                <li><a href="https://github.com/VirxEC/virxec.github.io/issues" target="_blank">Issues</a></li>
                <li><a href="https://github.com/VirxEC/virxec.github.io/pulls" target="_blank">Pull requests</a></li>
            </ul>
        </div>
        <div>
            <h3>RLBot Project links</h3>
            <ul class="linklist">
                <li><a href="https://www.youtube.com/playlist?list=PLeo0zkmzSE-Wi59QZJKaigRfz66s2cRlJ" target="_blank">The Evolution of RLBot</a></li>
                <li><a href="https://www.rlbot.org/" target="_blank">RLBot Website</a></li>
                <li><a href="https://discord.gg/STd254K" target="_blank">RLBot Discord</a></li>
                <li><a href="https://github.com/RLBot/RLBot" target="_blank">RLBot Framework</a></li>
                <li><a href="https://github.com/RLBot/RLBotGUI" target="_blank">RLBot GUI</a></li>
                <li><a href="https://github.com/RLBot/RLBot" target="_blank">RLBot Community Botpack</a></li>
            </ul>
        </div>
        <div>
            <h3>Minecraft CurseForge Links</h3>
            <ul class="linklist">
                <li><a href="https://www.curseforge.com/" target="_blank">CurseForge</a></li>
                <li><a href="https://www.curseforge.com/minecraft/modpacks" target="_blank">Minecraft CurseForge</a></li>
                <li><a href="https://www.curseforge.com/minecraft/texture-packs" target="_blank">Java Resource Packs</a></li>
                <li><a href="https://www.curseforge.com/minecraft/worlds" target="_blank">Java Worlds</a></li>
            </ul>
        </div>
        <div>
            <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- Generic ads -->
            <ins class="adsbygoogle"
                style="display:block"
                data-ad-client="ca-pub-9063288785609075"
                data-ad-slot="7974382344"
                data-ad-format="auto"
                data-full-width-responsive="true"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>
        <div class="desktop-grid-format"></div>
        <div class="desktop-grid-format"></div>
        <div>
            <h3>VirxEB & VirxERLU Project Links</h3>
            <ul class="linklist">
                <li><a href="https://virxeb.virxcase.dev/LICENSE" target="_blank">VirxEB's License</a></li>
                <li><a href="https://virxerlu.virxcase.dev/LICENSE" target="_blank">VirxERLU's License</a></li>
                <li><a href="https://github.com/VirxEC/VirxEB" target="_blank">VirxEB's Github</a></li>
                <li><a href="https://github.com/VirxEC/VirxERLU" target="_blank">VirxERLU's Github</a></li>
                <li><a href="https://github.com/VirxEC/VirxERLU/wiki" target="_blank">VirxERLU's Wiki</a></li>
            </ul>
        </div>
        <div class="desktop-grid-format"></div>
        <!-- <div id="bobcatrobotics">
            <h3>Let's go Bobcat Robotics 2020!</h3>
            <ul class="linklist">
                <li><a href="https://www.bobcatrobotics.org/" target="_blank">Website</a></li>
                <li><a href="https://www.instagram.com/bobcatrobotics/" target="_blank">Instagram</a></li>
                <li><a href="https://twitter.com/Bobcat_Robotics" target="_blank">Twitter</a></li>
            </ul>
        </div> -->
    </div>
    <script>
        const icons = document.querySelectorAll(".site-icon");
        function siteIcons() {
            for (let i = 0; i < icons.length; i++)
                if (getComputedStyle(icons[i]).getPropertyValue("display") === "inline" && icons[i].getAttribute("src") == null) icons[i].src = icons[i].getAttribute("data-src");
        }

        addEventListener('resize', siteIcons);

        let p;
        addEventListener('beforeinstallprompt', e => {
            p = e;
            function pwamsg_mobile() {
                document.querySelector("#pwamsg").style.display = "none";
                document.querySelector("#pwamsg-mobile").style.display = "none";
                if (screen.width > 700) document.querySelector("#pwamsg").style.display = "block";
                else document.querySelector("#pwamsg-mobile").style.display = "block";
            }
            
            pwamsg_mobile();
            addEventListener('resize', pwamsg_mobile);
        }); 

        document.querySelector("#pwainstall").addEventListener("click", () => p.prompt());

        if (/iphone|ipad|ipod/.test(navigator.userAgent.toLowerCase() && !(('standalone' in window.navigator) && (window.navigator.standalone))) && !('standalone' in navigator)) this.setState({ showInstallMessage: true });
    </script>
{% endblock body %}

{% block post_styles %}
    <script>
        siteIcons();
    </script>
{% endblock %}