{% extends 'base.htm' %}
{% load static %}

{% block body %}
    <div id="main-top-grid" class="center">
        <div id="main-grid">
            <div>
                <img class="hd-icon site-icon" data-src="{% static 'icons/site_icon.png' %}" alt="CalcPlus logo">
                <img class="uhd-icon site-icon" data-src="{% static 'icons/512.png' %}" alt="CalcPlus logo">
            </div>
            <div>
                <h1 class="top">VirxEC's Showcase Website</h1>
                <p class="middle">
                    <a href="https://discord.gg/N3ppwGu" target="_blank"><img src="{% static 'icons/discord.png' %}" height="24px" at="Discord"></a>
                    &nbsp;
                    <a href="mailto:virx@virxcase.dev" target="_blank"><img src="{% static 'icons/gmail.png' %}" height="24px" alt="Email"></a>
                    &nbsp;
                    <a href="https://github.com/VirxEC" target="_blank"><img src="{% static 'icons/github.png' %}" height="30px" alt="GitHub"></a>
                    &nbsp;
                    <a href="https://stackoverflow.com/users/10930209/virxec" target="_blank"><img src="{% static 'icons/stackoverflow.png' %}" height="30px" alt="Stack Overflow"></a>
                    &nbsp;
                    <a href="https://www.youtube.com/channel/UCbXnfz22hD8y26UG454c5PA"><img src="{% static 'icons/youtube.png' %}" height="24px" alt="YouTube"></a>
                </p>
                <div id="pwamsg" class="pwamsg">
                    <h3 class="top">Get VirxEC's Showcase Website's <a href="https://blog.bitsrc.io/what-is-a-pwa-and-why-should-you-care-388afb6c0bad"><abbr title="Progressive Web App">PWA</abbr></a>!</h3>
                    <button class="bottom" id="pwainstall">Add shortcut</button></li>
                </div>
                <div id="pwamsg-mobile" class="pwamsg">
                    <h3 class="top">Get Virxcase's <a href="https://blog.bitsrc.io/what-is-a-pwa-and-why-should-you-care-388afb6c0bad"><abbr title="Progressive Web App">PWA</abbr></a>!</h3>
                    <button class="bottom" id="pwainstall">Add shortcut to home</button></li>
                </div>
            </div>
            <div class="mobile-spare">
                <img class="hd-icon site-icon" data-src="{% static 'icons/site_icon.png' %}" alt="CalcPlus logo">
                <img class="uhd-icon site-icon" data-src="{% static 'icons/site_icon_hd.png' %}" alt="CalcPlus logo">
            </div>
        </div>
    </div>

    <div id="secondary-grid">
        <div>
            <h3>CalcPlus Project Links</h3>
            <ul class="linklist">
                <li><a href="https://github.com/VirxEC/CalcPlus/wiki">Wiki</a></li>
                <li><a href="https://github.com/VirxEC/CalcPlus/projects/1">To do page</a></li>
                <li><a href="https://github.com/VirxEC/CalcPlus/issues/new?assignees=VirxEC&labels=bug&template=bug_report.md&title=%5BBUG%5D">Submit a bug report</a></li>
                <li><a href="https://github.com/VirxEC/CalcPlus/issues/new?assignees=VirxEC&labels=enhancement&template=feature_request.md&title=%5BFEATURE+REQUEST%5D">Suggest a feature</a></li>
                <li><a href="https://github.com/VirxEC/CalcPlus/compare">Submit a pull request</a></li>
            </ul>
        </div>
        <div id="aboutcalcplus">
            <h3>About CalcPlus</h3>
            <ul class="linklist">
                <li>Status: <span class="{{ status }}">{{ status }}</span></li>
                <li><a href="http://www.apache.org/licenses/LICENSE-2.0">CalcPlus License</a></li>
                <li><a href="https://repl.it/github/VirxEC/CalcPlus">Test latest Node.js version<br>on Repl.it</a></li>
            </ul>
        </div>
        <div>
            <h3>Download CalcPlus</h3>
            <ul class="linklist">
                <li><a href="https://github.com/VirxEC/CalcPlus/releases">All releases</a></li>
                <li><a href="https://github.com/VirxEC/CalcPlus/packages">CalcPlus Beta NodeJS Library</a></li>
                <li><a href="https://github.com/VirxEC/CalcPlus/archive/v{{ calcplus_js }}-beta-js.zip" download>CalcPlus Beta JavaScript Library<br>(v{{ calcplus_js }})</a></li>
                <li><a href="https://calcplus.virxcase.dev/calcplus.js" download>CalcPlus Alpha Node TS/Module JS Library<br>(v{{ calcplus_ts }})</a></li>
            </ul>
        </div>
        <div>
            <h3>VirxEB Project Links</h3>
            <ul class="linklist">
                <li><a href="https://virxeb.virxcase.dev/LICENSE">VirxEB's License</a></li>
                <li><a href="https://www.rlbot.org/">RLBot Website</a></li>
                <li><a href="https://github.com/VirxEC/VirxEB">Github</a></li>
                <li><a href="https://github.com/VirxEC/VirxEB/issues">Issues</a></li>
                <li><a href="https://github.com/VirxEC/VirxEB/pulls">Pull requests</a></li>
            </ul>
        </div>
        <div>
            <h3>VirxEC's Showcase Website Project Links</h3>
            <ul class="linklist">
                <li><a href="http://www.apache.org/licenses/LICENSE-2.0">Website License</a></li>
                <li><a href="https://github.com/VirxEC/virxec.github.io/tree/django">GitHub</a></li>
                <li><a href="https://github.com/VirxEC/virxec.github.io/issues">Issues</a></li>
                <li><a href="https://github.com/VirxEC/virxec.github.io/pulls">Pull requests</a></li>
            </ul>
        </div>
        <!-- <div id="bobcatrobotics">
            <h3>Let's go Bobcat Robotics 2020!</h3>
            <ul class="linklist">
                <li><a href="https://www.bobcatrobotics.org/">Website</a></li>
                <li><a href="https://www.instagram.com/bobcatrobotics/">Instagram</a></li>
                <li><a href="https://twitter.com/Bobcat_Robotics">Twitter</a></li>
            </ul>
        </div> -->
    </div>
    <script>
        function siteIcons() {
            var icons = document.querySelectorAll(".site-icon")
            for (let i = 0; i < icons.length; i++) {
                if (getComputedStyle(icons[i]).getPropertyValue("display") !== "none") icons[i].src = icons[i].getAttribute("data-src");
            }
        }
        
        siteIcons();
        addEventListener('resize', siteIcons)

        var p;
        addEventListener('beforeinstallprompt', e=>{
            p = e;
            function pwamsg_mobile() {
                document.querySelector("#pwamsg").style.display = "none";
                document.querySelector("#pwamsg-mobile").style.display = "none";
                if (screen.width > 700) document.querySelector("#pwamsg").style.display = "block";
                else document.querySelector("#pwamsg-mobile").style.display = "block";
            }
            
            pwamsg_mobile()
            addEventListener('resize', pwamsg_mobile)
        });

        document.querySelector("#pwainstall").addEventListener("click", e=>p.prompt());

        if (/iphone|ipad|ipod/.test(navigator.userAgent.toLowerCase() && !(('standalone' in window.navigator) && (window.navigator.standalone))) && !('standalone' in navigator)) this.setState({ showInstallMessage: true });
    </script>
{% endblock body %}