{% extends 'base.htm' %}
{% load static %}

{% block body %}
    <div id="main-top-grid" class="center">
        <div id="main-grid">
            <div>
                <img class="hd-icon site-icon" data-src="{% static 'icons/192.png' %}" alt="Site logo">
                <img class="uhd-icon site-icon" data-src="{% static 'icons/512.png' %}" alt="Site logo">
            </div>
            <div>
                <h1 class="top">VirxEC's Showcase Website</h1>
                <p class="middle">
                    <a href="https://discord.gg/N3ppwGu" target="_blank"><img id='discord' src="{% static 'icons/discord.png' %}" alt="Discord"></a>
                    &nbsp;
                    <a href="mailto:virx@virxcase.dev" target="_blank"><img id='email' src="{% static 'icons/gmail.png' %}" alt="Email"></a>
                    &nbsp;
                    <a href="https://github.com/VirxEC" target="_blank"><img id='github' src="{% static 'icons/github.png' %}" height="30px" alt="GitHub"></a>
                    &nbsp;
                    <a href="https://stackoverflow.com/users/10930209/virxec" target="_blank"><img id='stack-overflow' src="{% static 'icons/stackoverflow.png' %}" height="30px" alt="Stack Overflow"></a>
                    &nbsp;
                    <a href="https://www.youtube.com/channel/UCbXnfz22hD8y26UG454c5PA" target="_blank"><img id='youtube' src="{% static 'icons/youtube.png' %}" alt="YouTube"></a>
                    &nbsp;
                    <a href="https://www.curseforge.com/members/virxec/followers" target="_blank"><img id='curseforge' src="https://www.curseforge.com/Content/2-0-7494-36325/Skins/CurseForge/images/anvil.svg" alt="CurseForge"></a>
                </p>
                <div id="pwamsg" class="pwamsg">
                    <h3 class="top">Get VirxEC's Showcase Website's <a href="https://blog.bitsrc.io/what-is-a-pwa-and-why-should-you-care-388afb6c0bad"><abbr title="Progressive Web App">PWA</abbr></a>!</h3>
                    <button class="bottom" id="pwainstall">Add shortcut</button></li>
                </div>
                <div id="pwamsg-mobile" class="pwamsg">
                    <h3 class="top">Get Virxcase's <a href="https://blog.bitsrc.io/what-is-a-pwa-and-why-should-you-care-388afb6c0bad"><abbr title="Progressive Web App">PWA</abbr></a>!</h3>
                    <button class="bottom" id="pwainstall">Add shortcut to home</button></li>
                </div>
            </div>
            <div class="mobile-spare">
                <img class="hd-icon site-icon" data-src="{% static 'icons/site_icon.png' %}" alt="Site logo">
                <img class="uhd-icon site-icon" data-src="{% static 'icons/site_icon_hd.png' %}" alt="Site logo">
            </div>
        </div>
    </div>

    
    <div id="secondary-grid">
        <div>
            <!-- Generic ads -->
            <ins class="adsbygoogle"
                style="display:block"
                data-ad-client="ca-pub-9063288785609075"
                data-ad-slot="7974382344"
                data-ad-format="auto"
                data-full-width-responsive="true"></ins>
        </div>
        <div>
            <h3>CalcPlus Project Links</h3>
            <ul class="linklist">
                <li><a href="https://github.com/VirxEC/CalcPlus/wiki" target="_blank">Wiki</a></li>
                <li><a href="https://github.com/VirxEC/CalcPlus/projects/1" target="_blank">To do page</a></li>
                <li><a href="https://github.com/VirxEC/CalcPlus/issues/new?assignees=VirxEC&labels=bug&template=bug_report.md&title=%5BBUG%5D" target="_blank">Submit a bug report</a></li>
                <li><a href="https://github.com/VirxEC/CalcPlus/issues/new?assignees=VirxEC&labels=enhancement&template=feature_request.md&title=%5BFEATURE+REQUEST%5D" target="_blank">Suggest a feature</a></li>
                <li><a href="https://github.com/VirxEC/CalcPlus/compare" target="_blank">Submit a pull request</a></li>
            </ul>
        </div>
        <div id="aboutcalcplus">
            <h3>About CalcPlus</h3>
            <ul class="linklist">
                <li>Status: <span class="{{ status }}">{{ status }}</span></li>
                <li><a href="http://www.apache.org/licenses/LICENSE-2.0" target="_blank">CalcPlus License</a></li>
                <li><a href="https://repl.it/github/VirxEC/CalcPlus" target="_blank">Test latest Node.js version<br>on Repl.it</a></li>
            </ul>
        </div>
        <div>
            <h3>Download CalcPlus</h3>
            <ul class="linklist">
                <li><a href="https://github.com/VirxEC/CalcPlus/releases" target="_blank">All releases</a></li>
                <li><a href="https://github.com/VirxEC/CalcPlus/packages" target="_blank">CalcPlus Beta NodeJS Library</a></li>
                <li><a href="https://github.com/VirxEC/CalcPlus/archive/v{{ calcplus_js }}-beta-js.zip" download>CalcPlus Beta JavaScript Library<br>(v{{ calcplus_js }})</a></li>
                <li><a href="https://calcplus.virxcase.dev/calcplus.js" download>CalcPlus Alpha Node TS/Module JS Library<br>(v{{ calcplus_ts }})</a></li>
            </ul>
        </div>
        <div>
            <!-- Generic ads -->
            <ins class="adsbygoogle"
                style="display:block"
                data-ad-client="ca-pub-9063288785609075"
                data-ad-slot="7974382344"
                data-ad-format="auto"
                data-full-width-responsive="true"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>  
        <div class="desktop-grid-format"></div>
        <div>
            <h3>VirxEB Project Links</h3>
            <ul class="linklist">
                <li><a href="https://virxeb.virxcase.dev/LICENSE" target="_blank">VirxEB's License</a></li>
                <li><a href="https://www.rlbot.org/" target="_blank">RLBot Website</a></li>
                <li><a href="https://github.com/VirxEC/VirxEB" target="_blank">Github</a></li>
                <li><a href="https://github.com/VirxEC/VirxEB/issues" target="_blank">Issues</a></li>
                <li><a href="https://github.com/VirxEC/VirxEB/pulls" target="_blank">Pull requests</a></li>
            </ul>
        </div>
        <div>
            <h3>Minecraft CurseForge Links</h3>
            <ul class="linklist">
                <li><a href="https://www.curseforge.com/" target="_blank">CurseForge</a></li>
                <li><a href="https://www.curseforge.com/minecraft/modpacks" target="_blank">Minecraft CurseForge</a></li>
                <li><a href="https://www.curseforge.com/minecraft/texture-packs" target="_blank">Java Resource Packs</a></li>
                <li><a href="https://www.curseforge.com/minecraft/worlds" target="_blank">Java Worlds</a></li>
            </ul>
        </div>
        <div>
            <h3>VirxEC's Showcase Website Project Links</h3>
            <ul class="linklist">
                <li><a href="http://www.apache.org/licenses/LICENSE-2.0" target="_blank">Website License</a></li>
                <li><a href="https://github.com/VirxEC/virxec.github.io/tree/django" target="_blank">GitHub</a></li>
                <li><a href="https://github.com/VirxEC/virxec.github.io/issues" target="_blank">Issues</a></li>
                <li><a href="https://github.com/VirxEC/virxec.github.io/pulls" target="_blank">Pull requests</a></li>
            </ul>
        </div>
        <div class="desktop-grid-format"></div>
        <!-- <div id="bobcatrobotics">
            <h3>Let's go Bobcat Robotics 2020!</h3>
            <ul class="linklist">
                <li><a href="https://www.bobcatrobotics.org/" target="_blank">Website</a></li>
                <li><a href="https://www.instagram.com/bobcatrobotics/" target="_blank">Instagram</a></li>
                <li><a href="https://twitter.com/Bobcat_Robotics" target="_blank">Twitter</a></li>
            </ul>
        </div> -->
    </div>
    <script>
        function siteIcons() {
            var icons = document.querySelectorAll(".site-icon")
            for (let i = 0; i < icons.length; i++) {
                if (getComputedStyle(icons[i]).getPropertyValue("display") !== "none") icons[i].src = icons[i].getAttribute("data-src");
            }
        }
        
        siteIcons();
        addEventListener('resize', siteIcons)

        var p;
        addEventListener('beforeinstallprompt', e=>{
            p = e;
            function pwamsg_mobile() {
                document.querySelector("#pwamsg").style.display = "none";
                document.querySelector("#pwamsg-mobile").style.display = "none";
                if (screen.width > 700) document.querySelector("#pwamsg").style.display = "block";
                else document.querySelector("#pwamsg-mobile").style.display = "block";
            }
            
            pwamsg_mobile()
            addEventListener('resize', pwamsg_mobile)
        });

        document.querySelector("#pwainstall").addEventListener("click", e=>p.prompt());

        if (/iphone|ipad|ipod/.test(navigator.userAgent.toLowerCase() && !(('standalone' in window.navigator) && (window.navigator.standalone))) && !('standalone' in navigator)) this.setState({ showInstallMessage: true });
    </script>
{% endblock body %}